    <div class="matching">
      <div class="matching-column">
$left
      </div>
      <div class="matching-gutter">$gutter_note</div>
      <div class="matching-column">
$right
      </div>
    </div>
