    <div class="matching">
      <ul class="matching-column matching-left">
$left
      </ul>
      <div class="matching-gutter"></div>
      <ul class="matching-column matching-right">
$right
      </ul>
    </div>
