      <div class="quiz-row">
        <div class="quiz-question"><span class="quiz-number">$number.</span> <span class="t-edit">$question</span></div>
        <div class="quiz-options">
$options
        </div>
      </div>
