      <div class="card">
        <div class="art"><div class="art-note">$art_note</div></div>
        <div class="card-text">
          <div class="card-name">$name</div>
          <div class="card-caption">$caption</div>
          <span class="star outline"></span>
        </div>
      </div>
