    <div class="matching">
      <ul class="matching-column matching-left">
$left
      </ul>
      <div class="matching-gutter">$gutter_note</div>
      <ul class="matching-column matching-right">
$right
      </ul>
    </div>
